body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

@font-face {
  font-family: 'Gilroy';
  src: url('assets/fonts/Gilroy/Gilroy-Regular.eot');
  src: local('Gilroy Regular'), local('Gilroy-Regular'),
  url('assets/fonts/Gilroy/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/Gilroy/Gilroy-Regular.woff2') format('woff2'),
  url('assets/fonts/Gilroy/Gilroy-Regular.woff') format('woff'),
  url('assets/fonts/Gilroy/Gilroy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('assets/fonts/Gilroy/Gilroy-Bold.eot');
  src: local('Gilroy Bold'), local('Gilroy-Bold'),
  url('assets/fonts/Gilroy/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/Gilroy/Gilroy-Bold.woff2') format('woff2'),
  url('assets/fonts/Gilroy/Gilroy-Bold.woff') format('woff'),
  url('assets/fonts/Gilroy/Gilroy-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('assets/fonts/Gilroy/Gilroy-Medium.eot');
  src: local('Gilroy Medium'), local('Gilroy-Medium'),
  url('assets/fonts/Gilroy/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/Gilroy/Gilroy-Medium.woff2') format('woff2'),
  url('assets/fonts/Gilroy/Gilroy-Medium.woff') format('woff'),
  url('assets/fonts/Gilroy/Gilroy-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('assets/fonts/Gilroy/Gilroy-Semibold.eot');
  src: local('Gilroy Semibold'), local('Gilroy-Semibold'),
  url('assets/fonts/Gilroy/Gilroy-Semibold.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/Gilroy/Gilroy-Semibold.woff2') format('woff2'),
  url('assets/fonts/Gilroy/Gilroy-Semibold.woff') format('woff'),
  url('assets/fonts/Gilroy/Gilroy-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('assets/fonts/Gilroy/Gilroy-Light.eot');
  src: local('Gilroy Light'), local('Gilroy-Light'),
  url('assets/fonts/Gilroy/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/Gilroy/Gilroy-Light.woff2') format('woff2'),
  url('assets/fonts/Gilroy/Gilroy-Light.woff') format('woff'),
  url('assets/fonts/Gilroy/Gilroy-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
